<!DOCTYPE html>

<html>
    <head>
        <title> Places to Mug </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

        <!--link href="./css/bootstrap.min.css" rel="stylesheet" media="screen"-->
        <style>
        .ui-menu { width: 150px; }
        ul{
            list-style: none;
            padding = 10px;
        }
        </style>
    </head>    
    <script>
        $(document).ready(function($) {

        });
    </script>
    <body>
        <div class="row-fluid">
            <div class="span5 offset1 text-center" style="padding-top:10px">
                <h1>Places to Mug</h1>
                <h5 id="subtitle">Seat Chopping Ticket</h5>
            </div>
                
        </div>
        <div class="row-fluid">
            <div class="span5 offset1 text-center">
                    <p>This will confirm that you are chopping a seat in <u>{{fac}}</u> at <u>{{area}}</u>, on 1st April for <u>1 hour</u>.</p>
                    <form action="/showticket" style="padding-top:10px">
                        <input type="text" class="input-large search-query btn-large" placeholder="Full name" name="fullname"></input>
                        <button class="btn btn-info" type="submit" id="chopButton">Chop!</button>
                    </form>
            </div>
        </div>
        
</body>
</html>