<!DOCTYPE html>

<html>
    <head>
        <title> Places to Mug </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

        

        <!--link href="./css/bootstrap.min.css" rel="stylesheet" media="screen"-->
        <style>
        .ui-menu { width: 150px; }
        ul{
            list-style: none;
            padding = 10px;
        }
        </style>
    </head>

    <script type="text/javascript">
    
    //var curFaculty = "tesss";

    $('document').ready(function(){
        //loading distinct faculties name:
        function loadFaculties (){
            $.get('/getfaculty', function(data){
                for(var i=0; i<data.length; i++){
                    $("#faculty_menu").append('<li><a href="#" data-toggle="tab">' + data[i].faculty_name +
                        '</a></li>');
                    $("#areaLIst").append('<div class="tab-pane" id='+data[i].faculty_name+'>DUMMY AREAS</div>');
                }
            })
        }
        loadFaculties();



        //handling faculty menu selecting event:
        $("#faculty_menu").menu();
        $("#faculty_menu").on("menuselect", function(){
                alert("SELECTED");
            }
        );

        $('select').on('change',function(){
            $('#areaList').empty();
            $('select option:selected').each(function(){
                //get the list of areas into 'data, given the selected option's text
                $.get('/getarea', {selected_faculty: $(this).text()}, function(data){
                        for(var i=0; i< data.length; i++){
                            $('#areaList').append('<li>'+ data[i].area_name + '</li>');
                        }
                        
                });
                
            })

            //alert($(this).find('option:selected').attr('rel'));
        });
    });

    /*
    function onFacultyChange(){
        //var selectedFac = document.getElementById("selected_faculty");
        var curFaculty = $("#selected_faculty").options[$("#selected_faculty").selectedIndex].textContent;
        
        while($("#areaList").hasChildNodes()){
            $("#areaList").removeChild(areaTable.firstChild);
        }
        //areaTable.
        
    }*/
    
    </script>
    
    <body>
        <h1>Places to Mug</h1>
        <div class="post">
            <form>
                <ul class="nav nav-tabs" id="faculty_menu"> 
                    <li><a href="#">Test</a></li>
                </ul>
<!--            <input type = "radio" name="faculty" value="Other">Other -->

                <ul class="tab-content" id="areaList">
                </ul>
            
                <input type="submit">
            </form>
        </div>
</body>
</html>