<!DOCTYPE html>

<html>
    <head>
        <title> Places to Mug </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

        <!--link href="./css/bootstrap.min.css" rel="stylesheet" media="screen"-->
        <style>
        .ui-menu { width: 150px; }
        ul{
            list-style: none;
            padding = 10px;
        }
        </style>
    </head>    
    <body>
        
            <div class="row-fluid">
                <div class="span5 offset1 text-center" style="padding-top:10px">
                    <h1>Places to Mug</h1>
                    <p id="subtitle">Help us list down all the good <i>mugging/meeting</i> spots around NUS!</p>
                </div>

            </div>
        
        <div class="span12">
                <h4>We are working to resolve our server issue now. Thank you for your interest! Come back on Friday 2:00pm!</h4>

        </div>
        
</body>
</html>